## Setup

In [1]:
# imports
import csv, io, os, psycopg2
import pandas as pd
from dotenv import load_dotenv

In [4]:
# database setup
db = 'order_mgmt'

# pull credentials from .env
load_dotenv('../.env')

dsn = f'''
dbname={db} 
user={os.getenv('super_user')} 
password={os.getenv('pg_password')} 
host={os.getenv('host')} 
port={os.getenv('port')}
'''

### Get data from database

In [6]:
# connect to database to create dataframe
with psycopg2.connect(dsn) as conn, conn.cursor() as cur:
    # get one record per purchase
    cur.execute(
        '''
        SELECT 	o.order_no,
		        o.customer_id,
                o.order_date,
                SUM(ol.sales) AS monetary
        FROM orders o
        JOIN order_lines ol USING (order_no)
        WHERE o.status IN 
            ('Shipped', 'Resolved')
        GROUP BY o.order_no, o.customer_id, o.order_date
        ORDER BY o.order_no
        '''
    )

    # fetch data
    records = cur.fetchall()
    fields = [field.name for field in cur.description]

    # setup dataframe
    rfm_df = pd.DataFrame(records, columns=fields)

In [8]:
# display data
rfm_df.head()

   order_no  customer_id  order_date  monetary
0     10100           15  2003-01-06  12133.25
1     10101           51  2003-01-09  11432.34
2     10102           42  2003-01-10   6864.05
3     10103           65  2003-01-29  54702.00
4     10104           37  2003-01-31  44621.96